# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Django
db.sqlite3
*.log
local_settings.py
staticfiles/

# Environment
.env
.venv
venv/
env/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
